<html>
<head>
    <title>
        WIFIOUTLET
    </title>
<!-- Link in css File -->
<link rel = 'stylesheet' type = 'text/css' href = "/static/style.css">

</head>

<body>
<div class = "outlet_page_template">
    <h1>Welcome to the Wall-E Outlet App</h1>
<h2>LOG IN</h2>

<form method='POST' action = '/home_page'>

    <input class = 'input' name = 'username' type = 'text' placeholder="Username/Email">
     <input name = 'password' type = 'text' placeholder="password">
    <button class='button' type = 'submit'>SUBMIT</button>
    {%if error == True%}
    <p>Error, User does not exist</p>
    {%endif%}
</form>
    <a href = '/create_user'>Create account</a>
</div>
</body>

</html>
