{%extends 'home_page.html'%}


{%block content%}
<link rel = 'stylesheet' type = 'text/css' href = "/static/style.css">
<script>
document.getElementById("line").style.left = "84%";
</script>

<div class = "money_page_template">
    <h1>
        Savings
    </h1>

    <script>
    window.onload = function() {

    var chart = new CanvasJS.Chart("chartContainer", {
    	theme: "dark1", // "light1", "light2", "dark1", "dark2"
    	exportEnabled: true,
    	animationEnabled: true,
    	title: {
    		text: "Energy use Breakdown on average residential home"
    	},
    	data: [{
    		type: "pie",
    		startAngle: 25,
    		toolTipContent: "<b>{label}</b>: {y}%",
    		showInLegend: "true",
    		legendText: "{label}",
    		indexLabelFontSize: 16,
    		indexLabel: "{label} - {y}%",
    		dataPoints: [
    			{ y: 29, label: "Heating" },
    			{ y: 17, label: "Cooling" },
    			{ y: 14, label: "Water Heating" },
    			{ y: 13, label: "Appliances" },
    			{ y: 12, label: "Lighting" },
    			{ y: 4, label: "Electronics" },
    			{ y: 11, label: "Others" }
    		]
    	}]
    });
    chart.render();

    }
    </script>

    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>








    {%if section_len == 0%}
    <p>No devices in your account :(</p>
    <form method="POST" action="/add/devices">
        <input type="hidden" name = "user" value = "{{user._id}}">
        <button class = 'button' type = 'submit'>ADD DEVICES</button>
    </form>
    {%endif%}
</div>

{%endblock%}
